<!--Container for Search Bar And Main Content-->
<div class="flex-auto bg-gray-50 overflow-y-auto">
  <div class="flex flex-col h-full divide-y divide-gray-200 overflow-y-auto">
    <!--Top Bar Div-->
    <app-header></app-header>
    <!--Main Content and Right Sidebar Div-->
    <div class="flex flex-row divide-x divide-gray-200 overflow-y-auto">
      <!--Main content-->
      <app-books></app-books>
      <!--Info right sidebar-->
      <app-right-sidebar></app-right-sidebar>
    </div>
  </div>
</div>
